{% load static %}
<div id="layoutDefault_footer">
    <footer class="footer pb-5 mt-auto bg-dark footer-dark">
        <div class="container px-5">
            <hr class="my-5" />
            <div class="row gx-5 align-items-center">
                <div class="col-md-6 small">Copyright &copy; Orange County Lettings 2023</div>
                <div class="col-md-6 text-md-end small">
                    <a href="#!">Privacy Policy</a>
                    &middot;
                    <a href="#!">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>